@using Friterie.BlazorServer.Services
@using MudBlazor
@using Friterie.Authentication
@inherits LayoutComponentBase

@inject AuthenticationStateProvider AuthProvider
@* @inject AuthStateService AuthState *@
@inject CartService CartService
@inject NavigationManager Navigation

<PageTitle>Friterie</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                
            <AuthorizeView>
                <Authorized Context="auth">
                
                    <a @onclick="Logout" href="javascript:void(0)">Logout</a> 
                    <span><br />Bonjour @auth.User.Identity?.Name</span>
                    @* <a href="/authentication/logout">Logout</a> *@
                    @* <a href="/logout">Logout</a> *@
                </Authorized>
                <NotAuthorized>
                    @* <a href="/authentication/login">Login</a> *@
                    <a href="/login">Login</a>
                </NotAuthorized>

            </AuthorizeView>

        </div>

        <article class="content px-4">

            @Body


        </article>
    </main>
</div>





@code
{
    private async Task Logout()
    {
        var provider = (CustomAuthenticationStateProvider)AuthProvider;
        provider.SignOut();

        // AuthState.Logout();
        CartService.Clear();
        Navigation.NavigateTo("/");
    }
}