@page "/alimentstable"
@using Friterie.Models
@using Friterie.Services
@attribute [Authorize(Roles = "Administrator")]
@inject AlimentService AlimentServiceView

<PageTitle>Aliments</PageTitle>

<h1>Aliments</h1>

<p>Cette page présente les aliments disponible dans l'application.</p>

@if (alimentsList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Lipides</th>
                <th>Energie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var aliment in alimentsList)
            {
                <tr>
                    <td>@aliment.TAlimentCode</td>
                    <td>@aliment.TAlimentNom</td>
                    <td>@aliment.TLipides</td>
                    <td>@aliment.TEnergie</td>

                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Aliment[]? alimentsList;

    protected override async Task OnInitializedAsync()
    {
        var list = await AlimentServiceView.GetAlimentsAsync(0, 1000, 1000);
        alimentsList = list.ToArray();
    }
}
